// DEPOIMENTOS
.depoimentos {
  padding: 4rem 0;
  background: $cor-suporte;
  @include tablet {
    padding: 0 0 4rem 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: column;
    }
  }
  .depoimento {
    width: 48%;
    @include tablet {
      margin: 4rem 0 0 0;
      width: 100%;
    }
    .texto {
      position: relative;
      img {
        position: absolute;
        &:first-child {
          left: -50px;
          top: -10px;
          @include celular {
            left: -20px;
            top: 0px;
            width: 20px;
          }
        }
        &:nth-child(2) {
          right: 20px;
          bottom: 0px;
          @include celular {
            right: 0px;
            width: 20px;
          }
        }
      }
      p {
        font-size: 1.1rem;
        font-style: italic;
        color: #5d5d5d;
        width: 90%;
        @include celular {
          width: 100%;
        }
      }
    }
    .info {
      display: flex;
      margin-top: 1rem;
      @include celular {
        width: 90%;
        margin: 1rem auto;
      }
      .img-autor {
        img {
          width: 140px;
          height: 60px;
          object-fit: cover;
          border-radius: 8px;
        }
      }
      .info-autor {
        margin-left: 1rem;
        @include celular {
          text-align: left;
        }
        .nome {
          color: $cor-secundaria;
          font-weight: 700;
        }
        .cargo {
          font-size: 0.8rem;
          font-weight: 700;
          color: $cor-texto;
        }
      }
    }
  }
}
