* {
  &::selection {
    background: #000;
    color: #fff;
  }
  img {
    &::selection {
      background: transparent;
    }
  }
}
html {
  @include celular {
    overflow-x: hidden;
  }
}
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #202020;
  }
}
a {
  text-decoration: none !important;
}
.uppercase {
  text-transform: uppercase;
}
.fixo {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 3;
  transition: all 0.4s;
  top: 0;
}
.leve {
  font-weight: 100 !important;
}
.medio {
  font-weight: 400 !important;
}
.pesado {
  font-weight: 800 !important;
}
.alinhar {
  display: flex;
  align-items: center !important;
}
.botao {
  cursor: pointer;
  transition: 0.3s;
  outline: 0 !important;
  text-transform: uppercase;
  border: none;
  font-size: 0.7em;
  border-radius: 40px;
  padding: 5px 26px;
  @include tablet {
    font-size: 0.85em;
  }
  @include celular {
    font-size: 0.75em;
  }
}

.botao-principal {
  background: $cor-secundaria;
  color: #fff;
  font-weight: 700;
  transition: 0.2s !important;
  border: 2px solid #b8d862;
  &:hover {
    background-color: darken($cor-secundaria, 8%);
  }
  &:active {
    // background-color: darken($cor-principal, 20%);
  }
}

.botao-secundario {
  background-color: transparent;
  color: grey;
  border: 1px solid lightgrey;
  &:hover {
    color: #fff;
    border-color: #fff;
    background-color: darken($cor-principal, 10%);
  }
  // &:active {
  //     background-color: rgba($cor-secundaria, 0.4);
  // }
}

.botao-matricula {
  width: 400px;
  height: 50px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 8px;
  color: #fff;
  background: #f15a30;
}

input,
textarea {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 0.8rem !important;
  color: #5b5b5b;
  border-radius: 8px !important;
  font-size: 0.9rem !important;
  background: $cor-suporte !important;
  border: none !important;
  @include tablet {
    width: 100%;
  }
}
textarea {
  height: 150px;
  padding-top: 12px;
}

input[type='file'] {
  padding: 10px 0px 36px 10px;
}
p {
  margin-bottom: 0;
}
.cor-principal {
  color: $cor-principal !important;
}
.cor-secundaria {
  color: $cor-secundaria !important;
}
.titulo {
  font-size: 2em;
  margin-bottom: 0;
  @include desktop {
    font-size: 1.6em;
  }
  @include celular {
    font-size: 1.2em;
  }
}
.texto {
  font-size: 1em;
  @include desktop {
    font-size: 0.9em;
  }
  @include celular {
    font-size: 0.8em;
  }
}
.jazzz {
  background-color: $cor-principal;
  text-align: center;
  padding: 2rem 0;
  img {
    width: 50px;
  }
}

.loader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  opacity: 1;
  background: #000;
  img {
    width: 100px;
  }
}

.conteudo-pagina {
  opacity: 1;
}

.mostra {
  opacity: 1;
}
.esconde {
  opacity: 0;
}

.gira-seta {
  transform: rotate(-90deg) !important;
}

.cabecalho-desktop {
  transition: ease 1s;
}

.up {
  margin-top: -30rem;
  transition: 1s;
}

.fecha-faculdade,
.fecha-cursos-graduacao,
.fecha-cursos-pos-graduacao {
  cursor: pointer;
}

// LINK WPP
#link-wpp {
  position: fixed;
  right: 6%;
  bottom: 10%;
  z-index: 1000;
}

//whatsapp
.whatsapp {
  position: relative;
  bottom: -17px;
  left: 95%;
  @include tablet {
    left: 80%;
  }
}

// AMIGO DR.
.texto-chamada {
  background: $cor-secundaria;
  padding: 2rem 0;
  .frase {
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Zilla Slab', serif;
    @include celular {
      font-size: 1rem;
    }
  }
}

.mapa {
  position: relative;
  top: 7px;
}

.titulo {
  color: #fff;
  font-weight: 700;
  span {
    color: $cor-secundaria;
    font-size: 2.4rem;
  }
}

.texto {
  color: $cor-texto;
}

// FORMULARIO
.formulario {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  .img-formulario {
    img {
      width: 620px;
      height: 348px;
      object-fit: cover;
      border-radius: 8px;
      @include tablet {
        width: 100%;
      }
      @include celular {
        width: 100%;
        height: 220px;
      }
    }
  }
  .campos-formulario {
    margin-left: 2rem;
    @include celular {
      margin-left: 0rem;
    }
    .texto-efeito {
      font-size: 0.7rem;
      color: $cor-secundaria;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      font-family: 'Zilla Slab', serif;
    }
    .titulo {
      color: darken($cor-suporte, 30%);
      font-size: 2.4rem;
    }
    .texto {
      font-size: 0.8rem;
      font-style: italic;
      color: #c6c5c5;
    }

    form {
      margin-top: 1rem;
    }
    .area-botao {
      .botao {
        width: 100%;
        border: 2px solid lighten($cor-secundaria, 10%);
        padding: 8px 26px;
      }
    }
  }
}

// SB INSTAGRAM
#sb_instagram {
  position: relative;
  left: -10px;
  margin: 0.5rem 0 0 0 !important;
}
