// HEADER
.header {
  background: linear-gradient(to right, $cor-principal 60%, $cor-secundaria);
  @include celular {
    padding: 0 1rem;
  }
  .container {
    padding: 0;
  }
  // CABECALHO
  .cabecalho {
    // border-bottom: 1px solid darken($cor-principal, 5%);
    padding: 1rem 0;
    .navbar {
      padding: 0.5rem 0;
    }
    .navbar-brand {
      img {
        @include celular {
          width: 180px;
        }
      }
    }
    .nav-item {
      color: #fff;
      background: darken($cor-principal, 5%);
      text-transform: uppercase;
      margin-left: 0.8rem;
      font-size: 0.7rem;
      border-radius: 8px;
      padding: 8px 10px;
      transition: 0.1s;
      &:hover {
        color: $cor-secundaria;
      }
      @include celular {
        border-radius: 0px;
        margin: 0.2rem 1rem;
      }
    }
    // DROPDOWN
    .dropdown {
      .dropdown-menu {
        background: $cor-secundaria;
        border: none;
        margin: 0.6rem 1rem;
        @include celular {
          margin-left: 1rem;
          margin-bottom: 1rem;
        }
        .dropdown-item {
          color: #fff;
          font-size: 0.7rem;
          text-transform: uppercase;
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
  // BANNER
  .banner {
    #carouselBanner {
      padding: 2rem 0 6rem 0;
      @include tablet {
        padding: 0 0 6rem 0;
      }
      @include celular {
        padding: 1rem 0 6rem 0;
      }
      .carousel-indicators {
        bottom: 17px;
        li {
          background: darken($cor-principal, 10%);
          width: 10px;
          height: 10px;
          border-radius: 100%;
        }
        .active {
          background: lighten($cor-principal, 10%);
        }
      }
    }
    .carousel-item {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include celular {
          flex-direction: column;
        }
        .imagem-e {
          width: 45%;
          @include tablet {
            margin: auto;
          }
          @include celular {
            width: 100%;
          }
          img {
            width: 100%;
            @include celular {
              width: 100%;
            }
          }
          // .area-botao {
          //   margin-top: 2rem;
          //   .botao {
          //     width: 100%;
          //     font-size: 1em;
          //     padding: 10px 26px;
          //     letter-spacing: 3px;
          //   }
          // }
        }
        .imagem-d {
          width: 55%;
          @include tablet {
            margin: 4rem auto 0 auto;
          }
          @include celular {
            width: 100%;
            margin: 2rem auto 0 auto;
          }
          img {
            width: 100%;
            height: auto;
            @include celular {
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      top: 400px;
      z-index: 999;
      width: max-content;
      @include tablet {
      }
    }
    .carousel-control-prev {
      left: 480px;
      @include tablet {
        left: 300px;
        top: 305px;
      }
      @include celular {
        left: 100px;
        top: 390px;
      }
    }
    .carousel-control-next {
      right: 480px;
      @include tablet {
        right: 300px;
        top: 305px;
      }
      @include celular {
        right: 100px;
        top: 390px;
      }
    }
    .carousel-control-prev-icon {
      background-image: url('../icons/arrow.png');
    }
    .carousel-control-next-icon {
      background-image: url('../icons/arrow.png');
      transform: rotate(180deg);
    }
  }
  .navbar-toggler {
    outline: 0;
    .navbar-toggler-icon {
      background-image: url('../icons/menu.svg');
    }
  }
}
