// INFO CARDS
.info-cards {
  background: linear-gradient(to bottom, $cor-suporte, #fff);
  padding: 4rem 0;
  .cards {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      background: #fff;
      border: 1px solid $cor-suporte;
      padding: 2rem 2rem;
      width: 30%;
      &:first-child {
        @include tablet {
          margin: 0;
        }
      }
      @include tablet {
        width: 100%;
        margin: 2rem 0 0 0;
      }
      @include celular {
        width: 100%;
        margin: 1rem 0 0 0;
      }
      img {
        width: 90px;
        height: 90px;
        object-fit: contain;
      }
      .titulo {
        font-size: 1.4rem;
        margin: 1rem 0 0.6rem 0;
        color: $cor-secundaria;
        font-weight: 700;
        font-family: 'Zilla Slab', serif !important;
      }
      .texto {
        font-size: 0.8rem;
        color: $cor-texto;
      }
    }
  }
}
