// LOCALIZACAO
.localizacao {
  padding: 2rem 4rem;
  @include celular {
    padding: 2rem 1rem;
  }
  .titulo {
    color: $cor-principal;
    font-weight: 700;
    font-size: 1.4rem;
    @include celular {
      font-size: 1.2rem;
    }
  }
  .itens {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-wrap: wrap;
    }
    .item {
      width: 49%;
      margin: 1rem 0;
      @include tablet {
        width: 100%;
      }
      .titulo-unidade {
        color: $cor-secundaria;
        font-weight: 700;
        font-size: 1.2rem;
        font-family: 'Zilla Slab', serif;
        @include celular {
          font-size: 1rem;
        }
      }
    }
  }
}
