// MODAL
.modal {
    .modal-content {
        background-color: $cor-secundaria;
        .modal-header {
            .modal-title {
                color: #dadada;
                font-size: 1.2em;
                margin: 20px;
                font-weight: bolder;
                text-align: center;
            }
        }
        .form-modal  {
            text-align: center;
            input {
                width: 90%;
                border-radius: 5px;
                border: none;
                background-color: lighten($cor-secundaria, 12%);
                color: #fff;
                outline: 0;
            }
        }
        .modal-dialog {
            max-width: 50% !important;
            margin: 7.75rem auto;
        }
        .modal-header,.modal-footer {
            border: none;
            margin: 0 auto;
        }
        .close {
            display: none;
        }
        .botao {
            padding: 6px 36px 6px 36px;
        }
    }
}
