// AJUDA
.ajuda {
  padding: 4rem 0;
  background: linear-gradient(to bottom, #e4e4e4 -4%, #fff 14%);
  @include celular {
    padding: 2rem 0;
  }
  .texto-ajuda {
    .titulo {
      font-size: 1.8rem;
      color: $cor-principal;
      margin-bottom: 0.4rem;
      font-family: 'Zilla Slab', serif;
    }
    .texto {
      width: 55%;
      @include tablet {
        width: 100%;
      }
    }
  }

  // PERGUNTAS FREQUENTES
  .perguntas-frequentes {
    margin-top: 4rem;
    .titulo {
      font-size: 1.8rem;
      color: $cor-principal;
      margin-bottom: 0.4rem;
      font-family: 'Zilla Slab', serif;
    }

    // ACCORDION
    .accordion {
      margin: 2rem 0 4rem 0;
      display: flex;
      flex-wrap: wrap;
      @include tablet {
        margin: 0 0 4rem 0;
      }
      .card {
        margin-top: 1rem;
        border: none;
        width: 48%;
        @include tablet {
          width: 100%;
        }
      }
      .card-header {
        border-radius: 0px;
        background-color: transparent;
        border: none;
        padding: 1rem 0;
        .btn-link {
          color: #228fff;
          text-decoration: none;
          font-weight: 700;
          font-size: 1rem;
          font-style: italic;
          p {
            white-space: break-spaces;
            text-align: left;
          }
        }
      }
      .card-body {
        padding: 0 0 0 1.4rem;
        p {
          color: $cor-texto;
          font-size: 0.9rem;
        }
      }
    }
  }
  // FORMULARIO
  .formulario {
    justify-content: space-between;
    align-items: center;
    .campos-formulario {
      @include tablet {
        width: 100%;
        margin: 0;
      }
      .titulo {
        font-size: 2rem;
      }
      form {
        div {
          display: flex;
          align-items: end;
          img {
            padding: 0.79rem;
            margin-top: -0.1px;
            background: #e4e4e4;
            border-radius: 8px 0 0 8px;
            width: 40px;
            height: 40px;
            object-fit: contain;
          }
          input {
            border-radius: 0px 8px 8px 0px !important;
            padding-left: 0px;
          }
        }
      }
    }
    .img-formulario {
      width: 40%;
      text-align: center;
      @include tablet {
        width: 100%;
        margin: 4rem 0 0 0;
      }
      img {
        width: 220px;
        height: auto;
        @include celular {
          width: 200px;
        }
      }
      p {
        margin-top: 1rem;
        font-size: 1.2rem;
        color: $cor-texto;
        line-height: 36px;
      }
    }
  }
}
