// EXAMES
.exames {
  padding: 4rem 0 0rem 0;
  background: linear-gradient(to bottom, #e4e4e4 -4%, #fff 14%);
  @include celular {
    padding: 2rem 0 0 0;
  }
  .container {
    padding: 0;
    @include celular {
      padding: 0 4vw;
    }
  }
  .texto-exames {
    .titulo {
      font-size: 1.8rem;
      color: $cor-principal;
      margin-bottom: 0.4rem;
      font-family: 'Zilla Slab', serif;
    }
    .texto {
      width: 55%;
      @include celular {
        width: 100%;
      }
    }
  }
  .lista-exames {
    .cards {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      left: -10px;
      .item {
        text-align: center;
        background: linear-gradient(to bottom, #ebebeb 70%, #dedede 30%);
        position: relative;
        margin: 4rem 0 0 1rem;
        border-radius: 8px 8px 0 0;
        width: 15%;
        @include tablet {
          width: 30%;
        }
        @include celular {
          width: 100%;
          margin: 4rem auto 0 auto;
        }
        img {
          width: 100%;
          height: 80px;
          object-fit: cover;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
        .titulo {
          font-size: 1.1rem;
          margin: 1rem 0;
          font-weight: 700;
          color: $cor-principal;
          font-family: 'Zilla Slab', serif;
        }
        .valor {
          .dividido {
            border: 1px solid #dbdbdb;
            padding: 0.2rem;
            margin: 0 1rem;
            background: #fff;
            span {
              color: $cor-principal;
              font-weight: 700;
            }
          }
          .a-vista {
            font-size: 0.7rem;
            border: none;
            margin: 0.4rem 0 1.4rem 0;
          }
        }
        .area-botao {
          position: absolute;
          bottom: -15px;
          left: 18%;
          right: 18%;
        }
      }
    }
  }

  // CHECK-UP
  .check-up {
    background: $cor-secundaria;
    padding: 4rem 0;
    margin-top: 5rem;
    .texto-check-up {
      .titulo {
        font-size: 1.8rem;
        color: #fff;
        margin-bottom: 0.4rem;
        font-family: 'Zilla Slab', serif;
        span {
          color: $cor-principal;
        }
      }
      .texto {
        width: 55%;
        color: darken($cor-secundaria, 22%);
        @include celular {
          width: 100%;
        }
      }
    }
    .lista-check-up {
      justify-content: space-between;
      .item {
        width: 250px;
        @include tablet {
          width: 30%;
        }
        @include celular {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
      .area-botao {
        position: absolute;
        bottom: -15px;
        left: 18%;
        right: 18%;
        .botao {
          background: $cor-principal;
          padding: 5px 30px;
          border: none;
          @include celular {
            padding: 5px 64px !important;
          }
          &:hover {
            background: darken($cor-principal, 8%);
          }
        }
        @include tablet {
          padding: 0;
        }
      }
    }
  }
}
