// MEDICOS
.medicos {
  padding: 4rem 0 6rem 0;
  background: linear-gradient(to bottom, #e4e4e4 -4%, #fff 14%);
  @include celular {
    padding: 2rem 0 4rem 0;
  }
  .info-medicos {
    .titulo {
      font-size: 1.8rem;
      color: $cor-principal;
      margin-bottom: 0.4rem;
      font-family: 'Zilla Slab', serif;
    }
    .texto {
      width: 55%;
      @include tablet {
        width: 100%;
      }
    }
  }

  .itens {
    display: flex;
    flex-wrap: wrap;
    @include celular {
      flex-direction: column;
    }
    .item {
      margin: 4rem 0 0 0rem;
      text-align: center;
      width: 25%;
      position: relative;
      @include tablet {
        width: 48%;
        margin: 4rem 0 0 0;
      }
      @include celular {
        width: 100%;
      }
      .img-medico {
        img {
          width: 240px;
          height: 160px;
          object-fit: cover;
          border-radius: 8px;
          @include celular {
            width: 100%;
            height: 220px;
          }
        }
      }
      .info-medico {
        background: #e0f3f3;
        border-radius: 8px;
        padding: 10px 30px;
        width: 190px;
        text-align: left;
        position: absolute;
        bottom: -25px;
        left: 17%;
        @include tablet {
          width: auto;
          left: 21%;
          right: 21%;
        }
        @include celular {
          left: 68px;
        }
        .nome-medico {
          font-size: 1.3rem;
          font-weight: 700;
          color: $cor-principal;
          margin-bottom: 0px;
          font-family: 'Zilla Slab', serif;
        }
        .funcao-medico {
          font-size: 0.7rem;
          font-weight: 700;
          margin: -2px 0;
          color: darken($cor-texto, 15%);
        }
      }
    }
  }
}
