// OUTROS SERVICOS
.outros-servicos {
  padding: 4rem 0 5rem 0;
  background: linear-gradient(to bottom, #e4e4e4 -4%, #fff 14%);
  @include celular {
    padding: 2rem 0 3rem 0;
  }
  .texto-outros-servicos {
    .titulo {
      font-size: 1.8rem;
      color: $cor-principal;
      margin-bottom: 0.4rem;
      font-family: 'Zilla Slab', serif;
    }
    .texto {
      width: 55%;
      @include celular {
        width: 100%;
      }
    }
  }
  .lista-outros-servicos {
    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .item {
        text-align: center;
        background: linear-gradient(to bottom, #ebebeb 70%, #dedede 30%);
        position: relative;
        margin: 4rem 0 0 0;
        border-radius: 8px 8px 0 0;
        width: 16%;
        @include celular {
          width: 100%;
          margin: 4rem auto 0 auto;
        }
        img {
          width: 100%;
          height: 80px;
          object-fit: cover;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
        .titulo {
          font-size: 1.1rem;
          margin: 1rem 0;
          font-weight: 700;
          color: $cor-principal;
          font-family: 'Zilla Slab', serif;
        }
        .valor {
          .dividido {
            border: 1px solid #dbdbdb;
            padding: 0.2rem;
            margin: 0 1rem;
            background: #fff;
            span {
              color: $cor-principal;
              font-weight: 700;
            }
          }
          .a-vista {
            font-size: 0.7rem;
            border: none;
            margin: 0.4rem 0 1.4rem 0;
          }
        }
        .area-botao {
          position: absolute;
          bottom: -15px;
          left: 30px;
          .botao {
            @include celular {
              padding: 5px 86px;
            }
          }
        }
      }
    }
  }
}
