// TRABALHE CONOSCO
.trabalhe-conosco {
  padding: 4rem 0 0 0;
  background: linear-gradient(to bottom, #e4e4e4 -4%, #fff 14%);
  @include celular {
    padding: 2rem 0 0 0;
  }
  // TEXTO TRABALHE CONOSCO
  .texto-trabalhe-conosco {
    .titulo {
      font-size: 1.8rem;
      color: $cor-principal;
      margin-bottom: 0.4rem;
      font-family: 'Zilla Slab', serif;
    }
    .texto {
      width: 55%;
      @include tablet {
        width: 100%;
      }
    }
  }
  .formulario {
    margin-top: 4rem;
    @include tablet {
      flex-direction: column;
    }
  }
  .campos-formulario {
    @include tablet {
      margin: 2rem 0 0 0;
    }
    .titulo {
      @include celular {
        font-size: 2rem;
      }
    }
  }
  // CARTOES
  .cartoes {
    background: $cor-secundaria;
    padding: 4rem 0;
    margin-top: 4rem;
    @include celular {
      padding: 2rem 0;
    }
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .item {
      position: relative;
      @include tablet {
        width: 48%;
        margin: 2rem 0 0 0;
      }
      @include celular {
        width: 100%;
      }
      img {
        width: 240px;
        height: 140px;
        object-fit: cover;
        border-radius: 8px;
        @include tablet {
          width: 100%;
        }
      }
      p {
        position: absolute;
        bottom: 14px;
        left: 14px;
        color: #fff;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
}
