// SOBRE
.sobre {
  padding: 4rem 0 0 0;
  background: linear-gradient(to bottom, #e4e4e4 -4%, #fff 14%);
  @include celular {
    padding: 2rem 0 0 0;
  }
  .titulo {
    font-size: 1.8rem;
    color: $cor-principal;
    margin-bottom: 0.4rem;
    font-family: 'Zilla Slab', serif;
  }
  .texto-sobre {
    width: 55%;
    @include tablet {
      width: 100%;
    }
  }
  .historia {
    padding: 4rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: column;
    }
    .img-historia {
      img {
        border-radius: 8px;
        width: 540px;
        height: 260px;
        object-fit: cover;
        @include tablet {
          width: 100%;
        }
        @include celular {
          width: 100%;
          height: 200px;
        }
      }
    }
    .texto-historia {
      margin: 0 0 0 4rem;
      width: 44%;
      @include tablet {
        margin: 2rem 0 0 0;
        width: 100%;
      }
      .titulo {
        font-family: 'Zilla Slab', serif;
      }
    }
  }

  // IMG DESTAQUE
  .img-destaque {
    padding: 4rem 0 0 0;
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 8px;
      @include celular {
        height: 200px;
      }
    }
  }

  // PILARES
  .pilares {
    padding: 2rem 0 6rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .pilar {
      width: 31%;
      margin-top: 2rem;
      @include tablet {
        width: 48%;
      }
      @include celular {
        width: 100%;
      }
      .titulo {
        font-size: 1.2rem;
        span {
          font-size: 1.4rem;
        }
      }
      .texto {
        font-size: 0.9rem;
      }
    }
  }

  // EQUIPE
  .equipe {
    padding: 4rem 0;
    margin-top: 4rem;
    background: rgba($cor-suporte, 0.3);
    .itens {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        width: 50%;
        @include tablet {
          width: 100%;
          justify-content: center;
        }
        @include celular {
          flex-direction: column;
          width: 100%;
        }
        .img-membro {
          @include celular {
            width: 100%;
          }
          img {
            width: 280px;
            height: 160px;
            object-fit: cover;
            border-radius: 8px;
            @include celular {
              width: 100%;
            }
          }
        }
        .info-membro {
          background: #e4f0ef;
          border-radius: 0px 8px 8px 0px;
          padding: 24px 30px;
          width: 240px;
          @include celular {
            padding: 10px 20px;
            width: 80%;
            height: auto;
            margin: auto;
            text-align: center;
          }
          .nome-membro {
            font-size: 1.3rem;
            font-weight: 700;
            color: $cor-principal;
            margin-bottom: 0px;
            font-family: 'Zilla Slab', serif;
          }
          .funcao-membro {
            font-size: 0.7rem;
            font-weight: 700;
            margin: -2px 0;
            color: darken($cor-texto, 15%);
          }
          .bio-membro {
            font-size: 0.7rem;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
