// SINGLE SERVICO
.single-servico {
    padding: 4rem 0;
    background: linear-gradient(to bottom, #E4E4E4 -4%, #fff 14%);
    @include celular {
        padding: 2rem 0;
    }
    .titulo-single-servicos {
        .titulo {
            font-size: 1.8rem;
            color: $cor-principal;
            margin-bottom: .4rem;
            font-family: 'Zilla Slab', serif;
        }
    }

    .info {
        margin-top: 2rem;
        display: flex;
        .img-servico {
            img {
                width: 540px;
                height: 260px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .coluna {
            display: block;
            margin-left: 2rem;
        }
        .preco-servico {
            margin-top: 4.8rem;
            display: flex;
            .valor {
                display: flex;
                align-items: center;
                background: #DEDEDE;
                padding: 12px 24px;
                .dividido {
                    background: #F5F5F5;
                    padding: 6px 10px;
                    span {
                        color: $cor-principal;
                        font-weight: 700;
                        font-size: 1.1rem;
                    }
                }
                .a-vista {
                    margin-left: 1rem;
                    color: #7B7B7B;
                    font-size: 1.1rem;
                }
            }
            .area-botao {
                .botao {
                    padding: 13px 60px;
                    border-radius: 0px 8px 8px 0px;
                    font-size: 1.4rem;
                    letter-spacing: .1rem;
                }
            }
        }
    }
}