// AGENDE
.agende {
  padding: 4rem 0 4rem 0;
  background: linear-gradient(to bottom, #e4e4e4 -4%, #fff 14%);
  @include celular {
    padding: 2rem 0 2rem 0;
  }
  // TEXTO AGENDE
  .texto-agende {
    .titulo {
      font-size: 1.6rem;
      color: $cor-principal;
      margin-bottom: 0.4rem;
    }
    .texto {
      width: 55%;
      @include tablet {
        width: 100%;
      }
      @include celular {
        width: 100%;
      }
      a {
        text-decoration: underline !important;
        color: $cor-texto;
      }
    }
  }

  // FORMULARIO
  .formulario {
    @include tablet {
      flex-direction: column;
    }
    .img-formulario {
      img {
        @include tablet {
          width: 100%;
        }
      }
    }
  }
  .campos-formulario {
    width: 40%;
    margin: -1rem 0 0 2rem;
    @include tablet {
      width: 100%;
      margin: 2rem 0 0 0;
    }
    @include celular {
      width: 100%;
    }
    select,
    input {
      background: #f5f5f5 !important;
      border: 14px solid #dedede !important;
      height: 60px !important;
      outline: 0 !important;
      margin-bottom: -0.6rem !important;
      &:focus {
        box-shadow: none;
      }
    }
    select {
      width: 100%;
      margin-top: 1rem;
      @include celular {
        width: 100%;
      }
    }
  }
  .linha {
    display: flex;
    margin-top: 0.4rem;
    justify-content: space-between;
    .item {
      width: 48%;
    }
  }
  .alinhar {
    @include celular {
      display: block;
    }
  }
  .campo-menor {
    width: 160px;
    @include celular {
      width: 330px;
      margin: 1rem 0 0 0 !important;
    }
  }
  .alinhar {
    align-items: flex-end !important;
  }
  .area-botao {
    margin-top: 1rem;
    @include celular {
      margin-top: 1rem;
    }
    .botao {
      padding: 11px 26px;
      border-radius: 8px;
      margin: 10px 0px 0 0;
    }
  }
}

.estilo-especialidades {
  margin: 1rem 0 0 0;
  border: 1px solid lightgrey;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  color: grey;
}
