// CONTATO
.contato {
  padding: 4rem 0;
  @include celular {
    padding: 2rem 0;
  }
  .texto-contato {
    .titulo {
      font-size: 1.8rem;
      color: $cor-principal;
      margin-bottom: 0.4rem;
      font-family: 'Zilla Slab', serif;
    }
    .texto {
      width: 55%;
      @include tablet {
        width: 100%;
      }
    }
  }

  // FORMULARIO
  .formulario {
    margin-top: 4rem;
    justify-content: space-between;
    .campos-formulario {
      width: 40%;
      margin-left: 0px;
      @include tablet {
        width: 100%;
      }
      @include celular {
        width: 100%;
        .titulo {
          font-size: 2rem;
        }
      }
    }
    .img-formulario {
      width: 55%;
      text-align: center;
      @include tablet {
        width: 100%;
        margin: 2rem 0 0 0;
      }
      .item {
        display: flex;
        background: #e2f2e8;
        padding: 24px 54px;
        margin-top: 1rem;
        @include celular {
          display: block;
          padding: 24px 10px;
        }
        .info {
          margin-left: 2rem;
          @include celular {
            margin-left: 0rem;
          }
          a {
            font-size: 1.6rem;
            font-weight: 700;
            color: #05a396;
          }
        }
        img {
          @include celular {
            width: 120px;
          }
        }
        p {
          margin-top: 1rem;
          font-size: 0.9rem;
          color: $cor-texto;
          line-height: 36px;
        }
      }
      #ligue {
        width: 90px;
        height: 90px;
        margin: 1rem 4rem 0 0;
        object-fit: contain;
        @include celular {
          margin: 1rem 0 0 0;
        }
      }
      #mensagem {
        width: 130px;
        height: 90px;
        margin: 1rem 1rem 0 0;
        object-fit: contain;
      }
      #whatsapp {
        width: 140px;
        height: 90px;
        margin: 1rem 0rem 0 0;
        object-fit: contain;
      }
    }
  }
}
