// PREVIA SERVICOS
.previa-servicos {
  padding: 1rem 0 5rem 0;
  // height: 46vh;
  // overflow: hidden;
  transition: 1s;
  @include celular {
    padding: 0rem 0 3rem 0;
  }
  .nav-pills {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include celular {
      margin-top: 3rem;
      margin-bottom: 2rem !important;
    }
    .nav-item {
      z-index: 9999;
      @include celular {
        width: 100%;
        text-align: center;
        margin: 1rem 0 0 0;
      }
      .nav-link {
        padding: 8px 50px;
        text-transform: uppercase;
        // font-weight: bold;
        letter-spacing: 0.18rem;
        font-size: 0.8rem;
        border-radius: 50px;
        background: $cor-secundaria;
        color: #fff;
      }
      .active {
        background: #78942a;
        color: #fff;
      }
    }
  }
  #pillsServicos {
    margin-top: -3rem;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: -10px;
    .item {
      text-align: center;
      background: linear-gradient(to bottom, #ebebeb 70%, #dedede 30%);
      position: relative;
      border-radius: 8px 8px 0 0;
      width: 15%;
      margin: 4rem 0 0 1rem;
      @include tablet {
        width: 29%;
      }
      @include celular {
        width: 100%;
        margin: 2rem auto 0 auto;
      }
      img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .titulo {
        font-size: 1.1rem;
        margin: 1rem 0;
        font-weight: 700;
        color: $cor-principal;
        font-family: 'Zilla Slab', serif;
      }
      .valor {
        .dividido {
          border: 1px solid #dbdbdb;
          padding: 0.2rem;
          margin: 0 1rem;
          background: #fff;
          span {
            color: $cor-principal;
            font-weight: 700;
          }
        }
        .a-vista {
          font-size: 0.7rem;
          border: none;
          margin: 0.4rem 0 1.4rem 0;
        }
      }
      .area-botao {
        position: absolute;
        bottom: -15px;
        left: 18%;
        right: 18%;
        .botao {
          @include celular {
            padding: 5px 70px;
          }
        }
      }
    }
  }

  .area-botao-ver-mais {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    .divisor {
      height: 1px;
      width: 100%;
      background: $cor-secundaria;
    }
    .botao {
      width: 320px;
      height: 35px;
      margin: 0 2rem;
      font-size: 0.9rem;
      letter-spacing: 2px;
      position: relative;
      @include celular {
        width: 230px;
        height: 33px;
        margin: 0 1rem;
      }
      img {
        width: 16px;
        position: absolute;
        top: 7px;
        &:first-child {
          left: 10px;
        }
        &:nth-child(2) {
          right: 10px;
        }
      }
    }
  }
}
