// RODAPE
.rodape {
  padding: 4rem 0;
  background: $cor-principal;
  @include celular {
    padding: 2rem 0;
  }
  .chamada-whatsapp {
    position: fixed;
    right: 4%;
    bottom: 8%;
    img {
      width: 4vw;
      @include tablet {
        width: 8vw;
      }
      @include celular {
        width: 12vw;
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .coluna {
    width: 27%;
    @include celular {
      width: 100%;
      margin: 1rem 0;
    }
    a {
      color: #fff !important;
    }
    .titulo {
      color: lighten($cor-secundaria, 8%);
      font-size: 1.6rem;
      font-weight: 700;
      border-bottom: 1px solid $cor-secundaria;
      width: max-content;
      font-family: 'Zilla Slab', serif;
    }
    .info {
      margin-top: 1rem;
      .nome-destaque {
        color: #fff;
        font-weight: 700;
        font-size: 0.9rem;
      }
      .info-nome {
        color: #fff;
        font-size: 0.7rem;
      }
      .bandeiras {
        margin-top: 0.4rem;
      }
    }
    .info-contato {
      display: flex;
      justify-content: space-between;
    }
  }
  .redes-sociais {
    div {
      margin: 1rem 0 0 0;
    }
    img {
      width: 32px;
      margin: 0 1.6rem 0 0;
    }
  }
}

.assinatura {
  background: #000;
  padding: 0.6rem 0;
  text-align: center;
  img {
    width: 80px;
  }
}
