// UNIDADES
.unidades {
  padding: 4rem 0;
  @include celular {
    padding: 2rem 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: column;
    }
  }
  .item {
    width: 48%;
    margin-top: 2rem;
    @include tablet {
      width: 100%;
    }
    @include celular {
      width: 100%;
      margin-top: 2rem;
    }
    &:nth-child(2) {
      .nome-unidade {
        p {
          border: 1px solid $cor-principal;
          color: $cor-principal;
        }
      }
    }
    .img-unidade {
      position: relative;
      img {
        width: 540px;
        height: 280px;
        object-fit: cover;
        border-radius: 8px;
        @include tablet {
          width: 100%;
        }
      }
    }
    .nome-unidade {
      position: absolute;
      bottom: -15px;
      left: 10px;
      p {
        color: $cor-secundaria;
        border: 1px solid $cor-secundaria;
        width: max-content;
        padding: 4px 40px;
        border-radius: 8px;
        background: #fff;
        font-family: 'Zilla Slab', serif;
        font-size: 1.2rem;
      }
    }
    .texto-unidade {
      margin-top: 2rem;
      font-size: 0.85rem;
      color: grey;
    }
  }
}
